<div class="gitlab-build-failed">
  <h1 class="gitlab-status"><span data-bind="title"></span> FAILED</h1>
  <ul class="list-nostyle list-failed">
    <li data-foreach-item="broken_builds">
      <!--<div class="label" data-bind="item.name"></div>-->
      <div class="label"> <span class="aaa" data-bind="item.name"></span> - <span class="bbb" data-bind="item.ref"></span></div>
      <div class="value">(<span class="aaa" data-bind="item.status"></span> <span class="bbb" data-bind="item.date"></span>)</div>
    </li>
  </ul>
</div>

<div class="gitlab-build-succeeded">
  <h1 class="gitlab-status">0xacab.org: All Builds Are Complete!</h1>
</div>

<div class="gitlab-build-running">
  <h1 class="gitlab-status"><span data-bind="title"></span> RUNNING</h1>
  <ul class="list-nostyle list-running">
    <li data-foreach-item="running_builds">
      <!--<div class="label" data-bind="item.name"></div>-->
      <div class="label"> <span class="aaa" data-bind="item.name"></span> - <span class="bbb" data-bind="item.ref"></span></div>
      <div class="value">(<span class="aaa" data-bind="item.status"></span> <span class="bbb" data-bind="item.date"></span>)</div>
    </li>
  </ul>
</div>

<p class="updated-at" data-bind="updatedAtMessage"></p>
