// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;
$title-color:       rgba(255, 255, 255, 0.7);
$label-color:       #fff;
$value-color:       rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-gitlab-build-status {

  background-color: $background-color;

  .title {
    color: $title-color;
  }
  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  li {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .label {
    font-weight: 600;
    color: $label-color;
  }

  .value {
    margin-left: 12px;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .build-failed {
    display: none;
  }

  .fa {
    font-size: 10em;
    color: $label-color;
  }
}
