<script type='text/javascript'>
$(function() {
// These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_margins = [2, 2]
  Dashing.widget_base_dimensions = [235, 295]
  Dashing.numColumns = 8
});
</script>

<% content_for :title do %>LEAP Dashboard for Laptops<% end %>
<div class="gridster">
  <ul>
    <%= erb :'dashboard' %>
  </ul>
</div>
