<ul>
<li data-bind-class="status">

<a class="title-link" data-bind-href="nagios_url" target="_blank" data-bind="title"></a>

<div data-showif="status | equals 'error'"> <!-- error -->
  <h4>Error querying Nagios</h4>
</div> <!-- /no error -->
<div data-hideif="status | equals 'error'"> <!-- no error -->
<div data-hideif="criticals | equals 0">
<h4 data-bind="criticals"></h4>
<h4 data-showif="criticals | equals 1">critical</h4>
<h4 data-hideif="criticals | equals 1">criticals</h4>
</div>
<ul>
  <li class="alert" data-foreach-item="critical_services">
    <p class="widget-content" data-bind="item"></p>
  </li>
</ul>
<div data-hideif="warnings | equals 0">
<h4 data-bind="warnings"></h3>
<h4 data-showif="warnings | equals 1">warning</h4>
<h4 data-hideif="warnings | equals 1">warnings</h4>
</div>
<ul>
  <li class="alert" data-foreach-item="warning_services">
    <p class="widget-content" data-bind="item"></p>
  </li>
</ul>
<div data-hideif="unknown | equals 0">
<h4 data-bind="unknown"></h3>
<h4>unkown</h4>
</div>
<ul>
  <li class="alert" data-foreach-item="unknown_services">
    <p class="widget-content" data-bind="item"></p>
  </li>
</ul>
<p class="updated-at" data-bind="updatedAtMessage"></p>
</div> <!-- /no error -->
</li>
</ul>
